@import "tailwindcss";
@plugin 'lightswind/plugin';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000220;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  cursor: text;
  -webkit-user-select: text;
  user-select: text;
}

/* Marquee Animations */
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@theme {
  --animate-marquee-left: marquee-left 25s linear infinite;
  --animate-marquee-right: marquee-right 25s linear infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
